<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    Jonathan is a Research and Data Specialist based in Nairobi. 
    He has hands-on experience of creating survey (data collection) forms using XML and XLS, SurveyToGo and JXLS for collating data. 
    In addition to using generic Office based solutions he has implemented data collection systems using the likes of ODK, KoBoCollect, SurveyCTO, SurveyToGo, Askia and CSPro. 
    He also has a strong proficiency in Formhub, ODK Aggregate, Ona and ODK Briefcase, SurveyCTO, SurveyToGo, Askia, CSPro. 
    In addition to having a background in IT, his experience in data analysis and data visualization extends to using SPSS, R, Shiny, Stata, Tableau and mapping capabilities using QGIS, Mapbox, CartoDB, Leaflet, and Open MapKit.
</div>